[package]
name = "backend"
version = "0.1.0"
edition = "2024"

[workspace]
resolver = "2"
members = [
    "crates/domain",
    "crates/application",
    "crates/infrastructure",
    "crates/interface"
]

[dependencies]
